<% @page_title = capture do %>
About Wagscore
<% end %>

<%= image_tag 'weinerthinks.png', align: 'right' %>
<h1>About WagScore</h1>
<p>We show dog friendly locations near you.</p>

<h4>What is the WagScore?</h4>
It shows you the dog friendliness of an area based on what kinds of locations are present.

<h4>How is the Wagscore calculated?</h4>
With careful analysis by our Chief Dog Scientist, we chase our tails and dig a couple of holes until we arrive at the right WagScore.

<h4>How do I send suggestions?</h4>
Write to tien@wagscore.com. I am still working on this, but welcome suggestions!

<h4>How can I build my own?</h4>
The source code is available on <a href='https://github.com/tienyuan/wagscore'>Github</a>.


