/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$navbar-inverse-bg: #31B0D5;
$navbar-inverse-link-color: #fff;
$navbar-inverse-link-hover-color: #FFE168;
$font-family-base: 'Lato';
$headings-font-family: 'Dosis';

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-brand {
  font-weight: 800;
  font-size: 24px;
  color: #fff;
}

h1, h2, h3, h4 {
  font-weight: 800;
}

.align-search-btn {
  margin-bottom: 20px; 
  margin-left: -15px
}

.wagscore {
  background-image: url(asset-path('weinersays.png')); 
  background-repeat: no-repeat; 
  background-position: 35% 0%; 
  height: 200px;

  h3 { 
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: italic;
  margin: 0px;
  }

  .score {
  position: relative; 
  left: 0%; 
  top: 42%; 
  background-color: #fff;
  border: 1px solid #ccc; 
  border-radius: 10px; 
  padding: 15px; 
  width: 110px; 
  text-align: center; 
  float: left;
  }
}

.label-1 {
  background-color: #ff9502;
}
.label-2 {
  background-color: #5BC0DE;
}
.label-3 {
  background-color: #5CB85C;
}
.label-4 {
  background-color: #f7d240;
}
.label-5 {
  background-color: #337AB7;
}
.label-6 {
  background-color: #7e32b5;
}
.label-7 {
  background-color: #777777;
}
.label-8 {
  background-color: #D9534F;
}
