<% if @location.flagged? %>
  $('#flag-status').hide();
  $('.nav-spacer').prepend("<div class='alert alert-warning'>Location flagged for review. <button type='button' class='close' data-dismiss='alert'>&times;</button></div>");
<% else %>
  $('#flag-status').prepend("<div class='alert alert-error'><%= flash[:error] %></div>");
<% end %>